
.arhive {
    background: black; /* Цвет фона */
    display:block;
    width:90px;
    text-decoration: none;
    align:center;
    height: 20px;
    border-radius: 3px ;
    text-align: center;
    color: red;
}


body, p, h1,h2,h3, button, div,a{
    font-family: 'Ubuntu', sans-serif;
}

.head{
    position: relative;
    margin-top:82px;
    margin-bottom:73px;
    width: 900px;
    margin-left: calc(50% - 450px);
}
.head-logo{

    width: 268px;
    height: 70px;
    background-image: url('/static/start/img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}.head-count{
     font-size: 36px;
     font-weight: 100;
     text-align: left;
     color: #1d1d24 ;
 }
.head-blog-create{
    position: absolute;
    display: block;
    width: 108px;
    height: 86px;
    background-image: url('/static/start/img/add.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
}
.content{
    width: 900px;
    margin-left: calc(50% - 450px);
}
.blog-item{
    display: inline-block;
    width: 397px;
    border-radius: 8px;
    background-color: #ffffff ;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 44px;
    overflow: hidden;
}
.blog-item:nth-child(odd){
    margin-right: 50px;
}
.blog-item-hr{
    height: 1px;
    width: 100%;
    background: rgba(150, 150, 150, 0.56);
}
.blog-item-background{
    width: 100%;
    height: 158px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.blog-item-title{
    font-size: 24px;
    color: #1d1d24 ;
    margin: 11px 20px 7px 20px;
}
.blog-item-date{
    font-size: 18px;
    font-weight: 100;
    color: #1d1d24 ;
    margin: 0px 20px 13px 20px;
}
.blog-item-text{
    font-size: 18px;
    font-weight: 100;
    color: #1d1d24 ;
    margin: 12px 20px 20px 20px;
}

/*============CREATE===================*/

.mod-create{
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-bottom: 90px;
}
.blog-create-title{
    margin-top: 84px;
    font-size: 36px;
    color: #1d1d24 ;
    margin-bottom: 47px;
}
.blog-create-group{

}
.blog-create-lable{
    font-size: 20px;
    font-weight: 100;
    color: #1d1d24 ;
    display: block;
    margin-top: 39px;
    margin-bottom: 12px;
}
.blog-create-input{
    border-radius: 8px;
    background-color: #ffffff ;
    border: solid 1px #aaaaaa ;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
}
.blog-create-input.mod-textarea{
    height: 230px;
    padding-top: 20px;
}
.blog-create-file{
    float: left;
    width: 100px;
    height: 46px;
    cursor: pointer;
    background-image: url("/static/start/img/photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.blog-create-file-input{
    opacity: 0;
    width: 100px;
    height: 46px;
    cursor: pointer;
    display: block;
}
.btn{
    border-radius: 8px;
    background-color: #b2b2b2 ;
    color: white;
    text-decoration: none;
    font-size:18px;
    padding: 11px 22px;
    float: right;
}
.btn-cancel{
    margin-right: 20px;
}
.btn-approve{
    border:none;
    background-color: #ff4a33 ;
}


/*============SUCCESS================*/

.success{
    text-align: center;
    margin-top: 300px;
}
.success-logo{
    width: 180px;
    height: 103px;

}
.success-title{
    color: #ff4a33 ;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    width: 730px;
}